@import "tailwindcss";
body {
  font-size: 16px;
  background-color: #253143 !important;
}
* {
  font-family: var(--font-play-fair);
}

.patua_font {
  font-family: var(--font-patua) !important;
}

.group.reorder {
  flex-direction: column;
  /* width: 100%; */
}
.reorder1 {
  background: yellow;

  display: flex;
  align-items: center;
}
.mobile_img {
  width: 133px;
  height: 133px;
  object-fit: cover;
}

.container {
  height: 133px !important;
  width: 133px !important;
  /* display: flex; */
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}
.hidden-text {
  opacity: 0;
}
