@import "tailwindcss";

@theme {
  --color-primary: #253143;
  --color-creamy: #c7c6c5;
}
body {
  font-size: 16px;
  background-color: #253143 !important;
}
* {
  font-family: var(--font-play-fair);
}

.patua_font {
  font-family: var(--font-patua) !important;
}

.group.reorder {
  flex-direction: column;
  /* width: 100%; */
}
.reorder1 {
  background: yellow;

  display: flex;
  align-items: center;
}
.mobile_img {
  width: 133px;
  height: 133px;
  object-fit: cover;
}

.container {
  height: 133px !important;
  width: 133px !important;
  /* display: flex; */
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}
.hidden-text {
  opacity: 0;
}
#animated-text path {
  border: 1px solid red;
  fill: transparent;
  stroke: #fff;
  strokewidth: 0.1;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: textAnimation 5s ease forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 1000;
    /* zoom: 200; */
    /* transform: scale(200) !important; */
  }
  50% {
    fill: transparent;
  }
  100% {
    /* transform: scale(100) !important; */
    fill: #fff;
    stroke-dashoffset: 0;
  }
}
@layer utilities {
  .indicator-line {
    @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
  }

  .indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
  }

  @keyframes indicator-line {
    0% {
      height: 4px;
      transform: translateY(-0px);
    }
    50% {
      height: 16px;
      transform: translateY(-6px);
    }
    100% {
      height: 4px;
      transform: translateY(-0px);
    }
  }
}

/* #whole-svg g path {
  filter: drop-shadow(4px 4px 12px rgb(137, 8, 8));
} */
